<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Subtraction</h1>
    <form action="" method="post">
        {%csrf_token%}
        <div>
            <label for="">enter number 1</label>
            <input type="text" placeholder="enter number1" name="box1">
        </div>
        <div>
            <label for="">enter number 2</label>
            <input type="text" placeholder="enter number2" name="box2">
        </div>
        <div>
            <button type="submit">Sub</button>
        </div>
        Output={{data}}
    </form>
</body>
</html>